.request-page-wrapper {
  display: flex;
  padding: 20px;

  .task-review-wrapper {
    min-width: 800px;
    min-height: 800px;
    border: 1px solid #1112;
    margin-left: 10px;
  }
  .task-review-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    border: 1px solid #1112;
    width: 100%;
  }
  .task-review-main {
    padding: 20px;
  }
  h3 {
    margin: 0;
  }
}
