.main-page-wrapper {
  display: flex;
  padding: 20px;

  .user-info-and-menu-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .main-page-content-wrapper {
    width: 100%;
    padding: 20px;
    border: 1px solid #1112;
  }
}
